*{
    font-size: 18px;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
   
}
body{
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    width: 5%;
}
#logo1 {
    width: 25%;
}

main{
    margin-top: 80px;
}

header, #navbar{
    display: flex;
}

header{
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #d6dadf;
    transition: top 0.6s ease;


    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 5%;
    

}

li{
    list-style: none;

}
.navbar-item{
    padding: 5px 15px;
    margin: 5px 15px;
}
#banner{
    background-image: url('/assets/images/pet.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 88.3vh;
    display: flex;
    align-items: center;
}

#banner-text{
    margin-left: 18%;
    width: 23%;
}

#banner h1{
    margin-bottom: 0;
}

#banner h1,
#banner h1 span{
    font-size: 2.2rem;
    color: #fff;
}

#banner h1 span{
    display: block;
}

#banner-text p, #banner-text a {
    color: #fff;
    font-size: 1rem;
    margin-top: 0px;
}

#banner-text a{
    background-color: #e1b12c;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: bold;
}

#conteiner{
 text-align: center;
}

#conteiner h1{
    font-size: 2rem;
 
}

#conteiner-img, #final {
display: flex;
justify-content: space-between;
align-items: center;
}

#conteiner-img div{
width: 33%;
}

#conteiner-img div img{
    width: 100%;
}
#espelho h1{
    text-align: center;
}
#espelho div img
{
    width: 20%;
    margin-left: 15%;
}

#espelho div div
{
    margin-left: 15%;
    width: 20%;
}

#conteiner-img p{
    color: #718093
}
#conteiner-img
{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 20px;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}
.card{
    flex: 0 0 580px;
    scroll-snap-align: start;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.conteiner.buttons{
    margin: 20px 0;
    text-align: center;
}
.conteiner-buttons button{
    background-color: #1b1d20;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 10px;
}

.espelho2 {
    display: flex;
}

#espelho div div a {
    color: #000;
    font-size: 1.2rem;
    margin-top: 3px;
    background-color: #76c7af;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: bold;
}
 
#espelho div div p{
    margin-bottom: 40px;
}

#final{
    width: 90%;
    display: flex;
    margin-left: 5%;
}
#final div {
    width: 20%;
}

#final h1{
    display: inline-block;
}

#pro h1, #pro p{
    text-align: center;
}

#doctor{
    width:50%;
    display: flex;
    align-items: center;
    margin: 0 auto; 
    gap: 15px;
 }


#doctor img{
    width: 100%;
    
}

#doctor div {
    text-align: center;
    
}

#pro
{
    background-color: rgb(137, 207, 184);
}

#frase{
    width: 30%; 
}


#finaliza{
    padding: 10px 10%;
    display: flex;
justify-content: space-between;
}

#menu
{
    text-align: left;
}

#menu1 ul{
    padding: 0;
    text-align: left;
}

#menu1 ul li{
    padding: 10px;
}

#contato p{
    background-color: #76c7af;
    color: #fff;
    padding: 5px;
}


#menu1 h1, #contato h1{
    border-bottom:  3px solid #76c7af ;
}


.menu-btn{
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #333;
    display: none;
}



@media only screen and (max-width:980px){
    .menu-btn{
        display: block;
        position: absolute;
        top: 20px;
        right: 20pz;
        z-index: 1100;
    }

    nav{
        position: fixed;
        top: 40px;
        left: -250px;
        width: 250px;
        background-color: none;
        box-shadow: 2px 0px 5px rgb(0, 0, 0, 0.1);
        transition: left 0.5 ease;
        margin-left: 2%;
    }
    
    nav.active{
        left: 0;
        background-color: #fff;
    }

    nav.active li a{
        border: 2px #1b1d20 solid; 
        border-radius: 20px;
    }

    #navbar{
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 10px;
    }

    .navbar-item{
        padding: 15px 20px;
        display: block;
        color: #000000;
    }

    #banner-text{
        margin-left: 10%;
        width: 100%;
        margin-top: 20%;
    }

    #espelho div img
    {
        width: 40%;
    }

    #espelho div div {
        width: 100%;
        margin-left: 10%;
    }

    .espelho2 {
        margin-bottom: 5%;
    }

}

@media only screen and (max-width:600px){
    #logo{
        width: 25%;
    }
    
    .menu-btn{
        display: block;
        position: absolute;
        top: 20px;
        right: 20pz;
        z-index: 1100;
    }

    nav{
        position: fixed;
        top: 120px;
        left: -250px;
        width: 250px;
        background-color: none;
        box-shadow: 2px 0px 5px rgb(0, 0, 0, 0.1);
        transition: left 0.5 ease;
    }
    
    nav.active{
        left: 0;
    }

    #navbar{
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 10px;
    }

    .navbar-item{
        padding: 15px 20px;
        display: block;
        color: #000000;
    }

   
    #banner-text{
        margin-left: 5%;
        width: 100%;
        margin-top: 50%;
    }

    .espelho2 {
        display: flex;
        flex-direction: column;
    
    }

    #espelho div img
    {
        width: 80%;
    }

    #espelho div div {
        width: 100%;
        margin-left: 3%;
    }

    .espelho2 div {
       text-align: center;
       padding: 5%;
    
    }

   .reflexo{
    flex-direction: column-reverse;
   }

   #final, #finaliza{
    flex-direction: column;
   }

   #final div, #finaliza div{
    width: 100%;
   }

}

